<section id="contact" class="bg-light-gray">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 header">
                <h4 class="section-heading">Contact Me</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div> -->
        <div id="v-card-holder" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
        
                        <!-- V-CARD -->
                        <div id="v-card" class="card">
        
                            <!-- PROFILE PICTURE -->
                            <div id="profile" class="right">
                                <img alt="profile-image" class="img-responsive" src="img/site/profile.jpg">
                                <div class="slant"></div>
                            </div>
        
                            <div class="card-content">
                                <!-- NAME & STATUS -->
                                <div class="info-headings">
                                </div>

                                <!-- CONTACT INFO -->
                                <div class="infos">
                                    <ul class="profile-list">
                                        <li class="clearfix">
                                            <span class="title"><i class="fa fa-email"></i></span>
                                            <span class="content">email@mailprovider.com</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="fa fa-web"></i></span>
                                            <span class="content">yourpersonalwebsite.com</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="fa fa-skype" aria-hidden="true"></i></span>
                                            <span class="content">yourusername@skype.com</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="fa fa-phone"></i></span>
                                            <span class="content">+152 25634 254 846</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title"><i class="fa fa-marker"></span>
                                            <span class="content">LampStreet 34/3, London, UK</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
