<!-- About Section -->
    <section id="mycareer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Career</h2><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for career in site.data.mycareer.careeries %}
                            <li
                            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                            {% if thecycle == 'even' %}
                                class="timeline-inverted"
                            {% endif %}>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{ career.logo }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h6 class="text-primary">{{ career.time }}</h6>
                                        <h4 class="subheading">{{ career.name }}</h4>
                                    </div>
                                    <br>
                                    <div class="timeline-body">
                                        <h5>{{ career.position }}</h5>
                                        <p class="text-muted">{{ career.description }} </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>My
                                    <br>Career
                                    <br>Timeline!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>