section#contact {
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .header{
    text-align: center;
}

section#contact .section-heading {
    color: #fff;
}
